<ion-header> 
  <ion-toolbar> 
    <ion-title>Inscription</ion-title> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/connexion"></ion-back-button> 
    </ion-buttons> 
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-content>

    <form [formGroup]="inscriptionForm" (submit)="inscription(inscriptionForm.value)" >
      <ion-list>
      <ion-item >
        <ion-label color="black">Nom:</ion-label>
        <ion-input color="black" type="text" placeholder="Votre Nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color ="black"> Prénom:</ion-label>
        <ion-input color="black" type="text" placeholder="Votre Prénom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="black">Mail:</ion-label>
        <ion-input color="black" type="mail" placeholder="Adresse mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="black">Téléphone:</ion-label>
        <ion-input color="black" type ="text" placeholder="Téléphone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="black">Mot de passe:</ion-label>
        <ion-input color="black" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="black">Confirmer mot de passe:</ion-label>
        <ion-input color="black" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>
    </ion-list>
      <ion-button color="danger" shape="round" type="submit" expand="full">Valider</ion-button> 
    </form>
    
</ion-content>
