<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un plat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="ajouterPlat()">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input [(ngModel)]="plat.nom" name="nom" type="text" ></ion-input>
        
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prix</ion-label>
        <ion-input [(ngModel)]="plat.prix" name="prix" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea [(ngModel)]="plat.description" name="description" ></ion-textarea>
      </ion-item>

     
      <ion-button  color="danger"  shape="round" type="submit" expand="full">Enregistrer</ion-button>
    </ion-list>
  </form>
</ion-content>
