<ion-header>
  <ion-toolbar>
    <ion-title>
      Restaurant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/icon/chef.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Bienvenue</ion-card-subtitle>
        <ion-card-title>Gestion des commandes de déjeuner </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Connectez-vous en tant que administreur ou employé(e).</p>
      </ion-card-content>
    </ion-card>

    <ion-button color="danger" expand="full"  shape="round" fill="outline" routerLink="/tabs/compte/connexion">Connexion </ion-button>
    
</ion-content>
