<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <form [formGroup]="connexionForm" (submit)="connexion(connexionForm.value)"> 
    <ion-list> 
      <ion-item> 
        <ion-label position="stacked">Email</ion-label> 
        <ion-input  formControlName="identifier" type="text" ></ion-input> 
      </ion-item> 
      <ion-item> 
        <ion-label position="stacked">Mot de passe</ion-label> 
        <ion-input formControlName="password" type="password" ></ion-input> 
      </ion-item> 
    </ion-list> 
    <ion-button color="danger"  shape="round" type="submit" expand="full"  >Se connecter</ion-button> 
    <a style="color: danger;" routerLink="/inscription">S'inscrire</a> - <a style="color: danger;" routerLink="/reset-password">Mot de passe oublié ?</a>
  </form> 
</ion-content>